dist: trusty
language: python
python:
- '3.5'
env:
  global:
    secure: EO6ezp7bFxG5aDuXYpc5dcUTElLBcMOdJv+RnZTooUD+DyscXeDtyuKe4BDPP3UnSlMGzn4xzwM+UDsncI2TNEE59Fly2TAZOnatbdZJjTyf9yap3NsS0eehlQnFsnmDrcoCe3ooeoJhhhKeqRUoga93wxCF/9SHdU7U/Gjv+XsBnbM+El1ufRheFNhubkV1bkrr+29FXmcFbC/678+41lDpRC815RAxnFeYlRLlp9My0EQYNyGnjKeAXgRyrDAX35AYKbDkt1rHwRnoFky9UuMy/wqcSxAPPWHyjqXMupvV7NQvXiqiVmVRide6S1yDo99CuP7NC6vIjE7aTE+XrnVmAp+RQ5tYpWS3xA+520Lpgi7ljRu7EwUMSnXn4WAxM8vbTQDZ1+49jny5eZ77AC8os8KtKQfEADRW3JB/1ujPWM9VimW1JlBRNV4VGs4BQ4fif79BLEwHF0YO0udjXSCAZ/oFu/a+r/ZLegYbDHgD7P+Ez6U5XzfprQuer5EVTuYxpkyQ623rNb+oVGpfVbsL9pQ1lh3XX0cbfp/JFrs+hcVzbM5NwiAXr5d/GPVxBJMryNEg0PyvKA3E+WRuwgKrj0G36gndIrOaGyvOJgNtwRVDtoEu0Us9Ii5j5IlmJZuaVFL0G6qDj1YLZ0VjQ4QVPEIL5fWm+teEqbP7bgU=
before_script:
- source version.sh
- wget https://github.com/gruntwork-io/fetch/releases/download/v0.1.1/fetch_linux_amd64
- chmod +x fetch_linux_amd64
- ./fetch_linux_amd64 --repo="https://github.com/RIAPS/riaps-core" --tag=$coreversion --release-asset="riaps-core-amd64.deb" .
- ./fetch_linux_amd64 --repo="https://github.com/RIAPS/riaps-core" --tag=$coreversion --release-asset="riaps-core-armhf.deb" .
- ./fetch_linux_amd64 --repo="https://github.com/RIAPS/riaps-pycom" --tag=$pycomversion --release-asset="riaps-pycom-amd64.deb" .
- ./fetch_linux_amd64 --repo="https://github.com/RIAPS/riaps-pycom" --tag=$pycomversion --release-asset="riaps-pycom-armhf.deb" .
- ./fetch_linux_amd64 --repo="https://github.com/RIAPS/riaps-timesync" --tag=$timesyncversion --release-asset="riaps-timesync-amd64.deb" .
- ./fetch_linux_amd64 --repo="https://github.com/RIAPS/riaps-timesync" --tag=$timesyncversion --release-asset="riaps-timesync-armhf.deb" .
script:
- mkdir riaps-release
- cp riaps-core-amd64.deb riaps-core-armhf.deb riaps-pycom-amd64.deb riaps-pycom-armhf.deb riaps-timesync-amd64.deb riaps-timesync-armhf.deb riaps-release/.
- echo "coreversion=$coreversion" >> riaps-release/manifest.txt
- echo "pycomversion=$pycomversion" >> riaps-release/manifest.txt
- echo "timesyncversion=$timesyncversion" >> riaps-release/manifest.txt
- tar cvzf riaps-release.tar.gz riaps-release
- cp version.sh riaps-x86runtime/.
- tar cvzf riaps-x86runtime.tar.gz riaps-x86runtime
- cp version.sh riaps-bbbruntime/.
- tar cvzf riaps-bbbruntime.tar.gz riaps-bbbruntime
#deploy:
#  provider: releases
#  overwrite: true
#  api_key:
#    secure: WYWTk4kEAiTxsmgB6dkHxvPujb0NyxKR/dfdYLyId4voFIGbBXq9Il1v2t4qIpklqlieoA+4ZjSFXvQU5BOhLeutMY5VJETQGmwLN1mYt/tSnqQ4uNFaU5Tn4lCGZclKO69cSSwrN6H78LOdTFXZCkEvoqxCkYpwUUhupGtXRFxojHmI6/wXU86+NABnkZp8wRyMezZvBtBw+O0CNAptw2f6oyGa+I9g8cWFk172dq9EczZmna5yn3Ol/qhWQOtsXkanwuGHcQPFn13AZjzQum56uV4OEQOuXxWFS/t+NSVm651vpImlEmH5UVFT/LbNgobcbgVUdXph9Bucwc3HcfGgdZdkqophg6hV/q+QNlcZRGfrEwZn9iiLfX49gviORrV8CPQ2ofO+vE9msiqjnrjuGtF+ZONfoMNAkN5mTWqzuviyTOdRlEsRZL4fZ4nnxsgUxSozJjgbkIdTi6dV6GkOQuPb2Rlx2+ZwIWttciUz8FeKdAq7rBb9hYJUhSONqPP9Pd6McH7Im5F6f1r6dh+5nQuRuMP+0UfF3MjiIu21wnnh8r/CQmX1hvsyeyPiC39Vz0RDirjX6FjfD1dTPt9n9hb9X+P/jy1rxi9/NT9mudCXEvNMU68KfmLjStxXA4Un3LwlZo+A7UcWM2onTPKlUtei7//WADSE+MWRZD4=
#  file:
#    - riaps-release.tar.gz
#    - riaps-x86runtime.tar.gz
#    - riaps-bbbruntime.tar.gz
#  skip_cleanup: true
#  on:
#    tags: true
